# Copia este archivo como .env.local y completa los valores

DATABASE_URL="postgresql://USER:PASSWORD@HOST/DB?sslmode=require"
JWT_SECRET="min-32-chars-secret-key-here"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
NEXT_PUBLIC_APP_URL="https://tu-dominio.vercel.app"
NODE_ENV="production"
LICENSE_PANEL_URL="https://admin-licencias.vercel.app"
INTERNAL_API_KEY="your-internal-api-key"
